In [48]:
import pandas as pd

# Load the CSV file with the correct encoding (UTF-8)
file_path = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\kaggle_zbior.csv'
df = pd.read_csv(file_path, encoding='Windows-1252')
# Make any necessary data manipulations here

# Save the DataFrame back to a CSV file with UTF-8 encoding
output_file = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\kaggle_zbior.xlsx'
df.head()

   id  deph type  type_id      word
0   1     0    B        0     baran
1   1     0    B        0    barana
2   1     0    B        0  baranach
3   1     0    B        0  baranami
4   1     0    B        0   baranem

In [40]:
# saving the dataframe
df.to_excel(output_file, index=False, header=True,encoding="utf-8")