In [4]:
import numpy as np
import pandas as pd

In [5]:
# # Load the CSV file with the correct encoding (UTF-8)
# file_path = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\hugging_face_zwroty.csv'
# df = pd.read_csv(file_path, encoding='utf-8')
# # Make any necessary data manipulations here

# # Save the DataFrame back to a CSV file with UTF-8 encoding
# output_file = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\hugging_face_zwroty.xlsx'
# df.head()

# # saving the dataframe
# df.to_excel(output_file, index=False, header=True,encoding="utf-8")

## Data for Bag of Words

In [6]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_kaggle = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\Bag_of_words_model.xlsx'
df_bag = pd.read_excel(file_path_kaggle)

In [7]:
df_bag.tail()

      id  deph type  type_id         word
9314  65     2    S       21       wonowi
9315  65     2    S       21        won√≥w
9316  65     2    S       21         wony
9317  65     2    S       22        precz
9318  66     0    B        0  wypi≈∫dziewo

## Data for the other models

### Load data & remove unnecessary columns etc:
#### a) PolEval

In [16]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_poleval = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\poleval.xlsx'
df_poleval = pd.read_excel(file_path_poleval)
df_poleval = df_poleval[['comment','Is_toxic']]
df_poleval['source'] = 'dataset_poleval'

In [17]:
df_poleval.tail()

,comment,Is_toxic,source
10036,Ty zagrasz? Nie wiedzia≈Çem üòâ,0,dataset_poleval
10037,"A VAR nie mia≈Ç poprawiƒá jako≈õci sƒôdziowania, t...",0,dataset_poleval
10038,"Szanowany, bo kolega ≈Çadnie go po≈ºegna≈Ç ?",0,dataset_poleval
10039,A kto inny ma siƒô biƒá? Ka≈ºdy zwyciezca ligi wo...,0,dataset_poleval
10040,A wr√≥≈ºbita Maciej m√≥wi ≈ºe zrozumiemy,0,dataset_poleval

#### b) hugging_face

In [18]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_hugface = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\hugging_face_zwroty.xlsx'
df_hugface = pd.read_excel(file_path_hugface)
df_hugface = df_hugface[['test_case','is_toxic']]
df_hugface['source'] = 'dataset_zwroty'

In [19]:
df_hugface.tail()

,test_case,is_toxic,source
3810,Geje sƒÖ wszyscy kompletnymi dupk4mi.,1,dataset_zwroty
3811,Azjaci sƒÖ wszyscy kompletnymi dupk4mi.,1,dataset_zwroty
3812,Niepe≈Çnosprawni sƒÖ wszyscy kompletnymi dupk4mi.,1,dataset_zwroty
3813,≈ªydzi sƒÖ wszyscy kompletnymi dupk4mi.,1,dataset_zwroty
3814,Imigranci sƒÖ wszyscy kompletnymi dupk4mi.,1,dataset_zwroty

#### c) github (wykop.pl)

In [20]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_github = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\github_utf8.xlsx'
df_git = pd.read_excel(file_path_github)
df_git = df_git[['Text','IsToxic']]
df_git['source'] = 'dataset_wykop'

In [21]:
df_git.tail()

,Text,IsToxic,source
23995,Polaczki jebane XD na wszystko narzekaƒá byle n...,1,dataset_wykop
23996,jaka≈õ muzyka normicka dudni ehhh w sumie i tak...,1,dataset_wykop
23997,""""" czy raczej zjeb ze stawu to by≈Ça jedna z na...",1,dataset_wykop
23998,kurwy Micha≈Ç ko≈Ñczy≈Ç nocnƒÖ wartƒô w serwerow...,1,dataset_wykop
23999,Przecie≈º murzyn√≥w nie da siƒô szanowaƒá ani tole...,1,dataset_wykop

### Unify the data - columns names, types etc

In [22]:
df_poleval = df_poleval.rename(columns={'comment':'Comment'})
df_hugface = df_hugface.rename(columns={'test_case':'Comment','is_toxic':'Is_toxic'})
df_git = df_git.rename(columns={'Text':'Comment','IsToxic':'Is_toxic'})

### Concatenate 3 datasets

In [23]:
df_conc = pd.concat([df_poleval, df_hugface, df_git], ignore_index = True)
df_conc

,Comment,Is_toxic,source
0,Dla mnie faworytem do tytu≈Çu bƒôdzie Cracovia. ...,0,dataset_poleval
1,Brawo ty Daria kibic ma byƒá na dobre i z≈Çe,0,dataset_poleval
2,"Super, polski premier sk≈Çada kwiaty na grobach...",0,dataset_poleval
3,Musi. Innej drogi nie mamy.,0,dataset_poleval
4,"Odrzut natychmiastowy, kwa≈õna mina, mam problem",0,dataset_poleval
...,...,...,...
37851,Polaczki jebane XD na wszystko narzekaƒá byle n...,1,dataset_wykop
37852,jaka≈õ muzyka normicka dudni ehhh w sumie i tak...,1,dataset_wykop
37853,""""" czy raczej zjeb ze stawu to by≈Ça jedna z na...",1,dataset_wykop
37854,kurwy Micha≈Ç ko≈Ñczy≈Ç nocnƒÖ wartƒô w serwerow...,1,dataset_wykop
37855,Przecie≈º murzyn√≥w nie da siƒô szanowaƒá ani tole...,1,dataset_wykop

In [24]:
# saving the dataframe
output_file = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\CONCATENATED_DATA.xlsx'
df_conc.to_excel(output_file, index=False, header=True,encoding="utf-8")

In [25]:
file_path_conc = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\CONCATENATED_DATA.xlsx'
df_conc = pd.read_excel(file_path_conc)

In [26]:
df_conc

,Comment,Is_toxic,source
0,Dla mnie faworytem do tytu≈Çu bƒôdzie Cracovia. ...,0,dataset_poleval
1,Brawo ty Daria kibic ma byƒá na dobre i z≈Çe,0,dataset_poleval
2,"Super, polski premier sk≈Çada kwiaty na grobach...",0,dataset_poleval
3,Musi. Innej drogi nie mamy.,0,dataset_poleval
4,"Odrzut natychmiastowy, kwa≈õna mina, mam problem",0,dataset_poleval
...,...,...,...
37851,Polaczki jebane XD na wszystko narzekaƒá byle n...,1,dataset_wykop
37852,jaka≈õ muzyka normicka dudni ehhh w sumie i tak...,1,dataset_wykop
37853,""""" czy raczej zjeb ze stawu to by≈Ça jedna z na...",1,dataset_wykop
37854,kurwy Micha≈Ç ko≈Ñczy≈Ç nocnƒÖ wartƒô w serwerow...,1,dataset_wykop
37855,Przecie≈º murzyn√≥w nie da siƒô szanowaƒá ani tole...,1,dataset_wykop

## Data to predict

In [27]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_yt = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\extracted_comments\comms_test.xlsx'
# comments from 4 videos:
# https://www.youtube.com/watch?v=t4O1LLk6qlY
# https://www.youtube.com/watch?v=r3qhl12iHKc
# https://www.youtube.com/watch?v=iLTLbe13hLg
# https://www.youtube.com/watch?v=v7CQkivQNQI

df_predict = pd.read_excel(file_path_yt)

In [28]:
df_predict

                                                Comments
0      JKM jest zwolennikiem otwartej migracji ludzi ...
1                                  Korwin jest najlepszy
2      ten wystƒôp siƒô dobrze starzeje jak popatrzymy ...
3                       Wracam po protestach we Francji.
4      Po 7 latach sie sprawdzi≈Ço, gosc mysli lata do...
...                                                  ...
24013           P. Morawiecki by≈Ç najlepszy, wygra≈Ç 6:0.
24014                            @Alicja Chelminska haha
24015  Donald zaoral Morawieckiego , w koncu ogladajc...
24016                             A RY≈ªY ICH WYDYMA≈Å XDD
24017  Jako wyborca pisu zastanawiam siƒô dlaczego sƒÖ ...

[24018 rows x 1 columns]