In [2]:
import numpy as np
import pandas as pd

In [3]:
# # Load the CSV file with the correct encoding (UTF-8)
# file_path = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\hugging_face_zwroty.csv'
# df = pd.read_csv(file_path, encoding='utf-8')
# # Make any necessary data manipulations here

# # Save the DataFrame back to a CSV file with UTF-8 encoding
# output_file = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\hugging_face_zwroty.xlsx'
# df.head()

# # saving the dataframe
# df.to_excel(output_file, index=False, header=True,encoding="utf-8")

## Data for Bag of Words

In [11]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_kaggle = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\kaggle_zbior.xlsx'
df_bag = pd.read_excel(file_path_kaggle)

In [14]:
df_bag.tail()

      id  deph type  type_id         word
9314  65     2    S       21       wonowi
9315  65     2    S       21        won√≥w
9316  65     2    S       21         wony
9317  65     2    S       22        precz
9318  66     0    B        0  wypi≈∫dziewo

## Data for the other models

### Load data & remove unnecessary columns etc:
#### a) PolEval

In [30]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_poleval = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\poleval.xlsx'
df_poleval = pd.read_excel(file_path_poleval)
df_poleval = df_poleval[['comment','Is_toxic']]

In [31]:
df_poleval.tail()

                                                 comment  Is_toxic
10036                       Ty zagrasz? Nie wiedzia≈Çem üòâ         0
10037  A VAR nie mia≈Ç poprawiƒá jako≈õci sƒôdziowania, t...         0
10038          Szanowany, bo kolega ≈Çadnie go po≈ºegna≈Ç ?         0
10039  A kto inny ma siƒô biƒá? Ka≈ºdy zwyciezca ligi wo...         0
10040               A wr√≥≈ºbita Maciej m√≥wi ≈ºe zrozumiemy         0

#### b) hugging_face

In [32]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_hugface = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\hugging_face_zwroty.xlsx'
df_hugface = pd.read_excel(file_path_hugface)
df_hugface = df_hugface[['test_case','is_toxic']]

In [33]:
df_hugface.tail()

                                            test_case  is_toxic
3810             Geje sƒÖ wszyscy kompletnymi dupk4mi.         1
3811           Azjaci sƒÖ wszyscy kompletnymi dupk4mi.         1
3812  Niepe≈Çnosprawni sƒÖ wszyscy kompletnymi dupk4mi.         1
3813            ≈ªydzi sƒÖ wszyscy kompletnymi dupk4mi.         1
3814        Imigranci sƒÖ wszyscy kompletnymi dupk4mi.         1

#### c) github (wykop.pl)

In [34]:
# Load the CSV file with the correct encoding (UTF-8)
file_path_github = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\github_utf8.xlsx'
df_git = pd.read_excel(file_path_github)
df_git = df_git[['Text','IsToxic']]

In [35]:
df_git.tail()

                                                    Text  IsToxic
23995  Polaczki jebane XD na wszystko narzekaƒá byle n...        1
23996  jaka≈õ muzyka normicka dudni ehhh w sumie i tak...        1
23997  "" czy raczej zjeb ze stawu to by≈Ça jedna z na...        1
23998    kurwy Micha≈Ç  ko≈Ñczy≈Ç nocnƒÖ wartƒô w serwerow...        1
23999  Przecie≈º murzyn√≥w nie da siƒô szanowaƒá ani tole...        1

### Unify the data - columns names, types etc

In [44]:
df_poleval = df_poleval.rename(columns={'comment':'Comment'})
df_hugface = df_hugface.rename(columns={'test_case':'Comment','is_toxic':'Is_toxic'})
df_git = df_git.rename(columns={'Text':'Comment','IsToxic':'Is_toxic'})

### Concatenate 3 datasets

In [45]:
df_conc = pd.concat([df_poleval, df_hugface, df_git], ignore_index = True)
df_conc

                                                 Comment  Is_toxic
0      Dla mnie faworytem do tytu≈Çu bƒôdzie Cracovia. ...         0
1             Brawo ty Daria kibic ma byƒá na dobre i z≈Çe         0
2      Super, polski premier sk≈Çada kwiaty na grobach...         0
3                            Musi. Innej drogi nie mamy.         0
4        Odrzut natychmiastowy, kwa≈õna mina, mam problem         0
...                                                  ...       ...
37851  Polaczki jebane XD na wszystko narzekaƒá byle n...         1
37852  jaka≈õ muzyka normicka dudni ehhh w sumie i tak...         1
37853  "" czy raczej zjeb ze stawu to by≈Ça jedna z na...         1
37854    kurwy Micha≈Ç  ko≈Ñczy≈Ç nocnƒÖ wartƒô w serwerow...         1
37855  Przecie≈º murzyn√≥w nie da siƒô szanowaƒá ani tole...         1

[37856 rows x 2 columns]

In [47]:
# saving the dataframe
output_file = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\CONCATENATED_DATA.xlsx'
df_conc.to_excel(output_file, index=False, header=True,encoding="utf-8")

In [48]:
file_path_conc = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\CONCATENATED_DATA.xlsx'
df_conc = pd.read_excel(file_path_conc)

In [49]:
df_conc

                                                 Comment  Is_toxic
0      Dla mnie faworytem do tytu≈Çu bƒôdzie Cracovia. ...         0
1             Brawo ty Daria kibic ma byƒá na dobre i z≈Çe         0
2      Super, polski premier sk≈Çada kwiaty na grobach...         0
3                            Musi. Innej drogi nie mamy.         0
4        Odrzut natychmiastowy, kwa≈õna mina, mam problem         0
...                                                  ...       ...
37851  Polaczki jebane XD na wszystko narzekaƒá byle n...         1
37852  jaka≈õ muzyka normicka dudni ehhh w sumie i tak...         1
37853  "" czy raczej zjeb ze stawu to by≈Ça jedna z na...         1
37854    kurwy Micha≈Ç  ko≈Ñczy≈Ç nocnƒÖ wartƒô w serwerow...         1
37855  Przecie≈º murzyn√≥w nie da siƒô szanowaƒá ani tole...         1

[37856 rows x 2 columns]