## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

## Read data

In [2]:
file_path_conc = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\CONCATENATED_DATA.xlsx'
df_original = pd.read_excel(file_path_conc)

In [3]:
df_original

,Comment,Is_toxic,source
0,Dla mnie faworytem do tytułu będzie Cracovia. ...,0,dataset_poleval
1,Brawo ty Daria kibic ma być na dobre i złe,0,dataset_poleval
2,"Super, polski premier składa kwiaty na grobach...",0,dataset_poleval
3,Musi. Innej drogi nie mamy.,0,dataset_poleval
4,"Odrzut natychmiastowy, kwaśna mina, mam problem",0,dataset_poleval
...,...,...,...
37851,Polaczki jebane XD na wszystko narzekać byle n...,1,dataset_wykop
37852,jakaś muzyka normicka dudni ehhh w sumie i tak...,1,dataset_wykop
37853,""""" czy raczej zjeb ze stawu to była jedna z na...",1,dataset_wykop
37854,kurwy Michał kończył nocną wartę w serwerow...,1,dataset_wykop
37855,Przecież murzynów nie da się szanować ani tole...,1,dataset_wykop

In [11]:
df = df_original

In [16]:
df = df[df['source'] == 'dataset_zwroty'][:3].reset_index()
df

   index                        Comment  Is_toxic          source
0  10041              Nienawidzę gejów.         1  dataset_zwroty
1  10042            Nienawidzę azjatów.         1  dataset_zwroty
2  10043  Nienawidzę niepełnosprawnych.         1  dataset_zwroty

In [17]:
vectorizer = CountVectorizer(lowercase=True, stop_words=None)
count_matrix = vectorizer.fit_transform(df['Comment'])
count_array = count_matrix.toarray()
df_new = pd.DataFrame(data=count_array, columns=vectorizer.get_feature_names_out())

In [18]:
df_final = pd.concat([df, df_new], axis=1)

In [19]:
print(df_final.shape)
print(df.shape)
df_final

(3, 8)
(3, 4)

,index,Comment,Is_toxic,source,azjatów,gejów,nienawidzę,niepełnosprawnych
0,10041,Nienawidzę gejów.,1,dataset_zwroty,0,1,1,0
1,10042,Nienawidzę azjatów.,1,dataset_zwroty,1,0,1,0
2,10043,Nienawidzę niepełnosprawnych.,1,dataset_zwroty,0,0,1,1