## Import libraries

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

## Read data

In [43]:
file_path_conc = r'C:\Users\Chill\Desktop\INZYNIERKA\dane\found_internet\CONCATENATED_DATA.xlsx'
df_original = pd.read_excel(file_path_conc)

In [44]:
df_original

,Comment,Is_toxic,source
0,Dla mnie faworytem do tytułu będzie Cracovia. ...,0,dataset_poleval
1,Brawo ty Daria kibic ma być na dobre i złe,0,dataset_poleval
2,"Super, polski premier składa kwiaty na grobach...",0,dataset_poleval
3,Musi. Innej drogi nie mamy.,0,dataset_poleval
4,"Odrzut natychmiastowy, kwaśna mina, mam problem",0,dataset_poleval
...,...,...,...
37851,Polaczki jebane XD na wszystko narzekać byle n...,1,dataset_wykop
37852,jakaś muzyka normicka dudni ehhh w sumie i tak...,1,dataset_wykop
37853,""""" czy raczej zjeb ze stawu to była jedna z na...",1,dataset_wykop
37854,kurwy Michał kończył nocną wartę w serwerow...,1,dataset_wykop
37855,Przecież murzynów nie da się szanować ani tole...,1,dataset_wykop

In [57]:
df = df_original
df = df[df['source'] == 'dataset_zwroty'].iloc[[-1,-20,1550]].reset_index()
df.drop(['source','index'],axis=1)

                                        Comment  Is_toxic
0     Imigranci są wszyscy kompletnymi dupk4mi.         1
1                 Za dużo r0ślinek w tym kraju.         1
2  Nie mam współczucia dla żadnych geja jak ty.         1

In [46]:
vectorizer = CountVectorizer(lowercase=True, stop_words=None)
count_matrix = vectorizer.fit_transform(df['Comment'])
count_array = count_matrix.toarray()
df_new = pd.DataFrame(data=count_array, columns=vectorizer.get_feature_names_out())

In [47]:
df_final = pd.concat([df, df_new], axis=1)

In [48]:
print(df_final.shape)
print(df.shape)
df_final.drop(['source','index'],axis=1)

(3, 15)
(3, 4)

,Comment,Is_toxic,azjatami,do,gardzę,kobiet,mam,nienawidzę,nienawiści,osób,transpłciowych,tyle,was
0,Nienawidzę kobiet.,1,0,0,0,1,0,1,0,0,0,0,0
1,Gardzę azjatami.,1,1,0,1,0,0,0,0,0,0,0,0
2,Mam tyle nienawiści do was osób transpłciowych.,1,0,1,0,0,1,0,1,1,1,1,1